# Core
streamlit==1.49.1

# Veelgebruikte data/charts (optioneel maar handig voor jouw tool)
pandas==2.3.2
numpy==2.3.2
plotly==6.3.0
matplotlib==3.10.6
altair==5.5.0

# Excel/CSV export
openpyxl==3.1.5
xlsxwriter==3.2.5

# PDF (voor rapporten later)
reportlab==4.4.3
python-docx
